@charset "UTF-8";
@media screen and (min-width: 768px) {
    menu {
        display: block;
    }
    i {
        display: none;
    }
    li {
        display: inline-block;
    }
    menu li {
        background-color: rgba(0, 0, 0, 0);
    }
    a {
        display: inline-block;
        padding: 8 20 8 20;
    }
    a:hover {
        background-image: radial-gradient(rgb(0, 0, 0), rgba(0, 78, 78, 0.177));
    }
    article {
        height: 250px;
        margin: 8px;
        border-radius: 10%;
        background-color: rgba(0, 255, 255, 0.335);
        box-shadow: 1px 1px 1px black;
    }
    .wrapper {
        text-align: center;
        width: 99%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    footer {
        border-radius: 0;
    }
}

    
