@charset "UTF-8";
body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0; }
header { 
    text-align: center; }
nav, menu {
    display: none;
    padding-left: 0; }
menu ul {
    list-style: none;
    padding-left: 0; }
nav, menu {
    display: none; }
iframe { 
   width: 100%;
   height: 100%;
   overflow: scroll;}
footer {
    text-indent: 10%; }