    @font-face {
    font-family: Lboy;
    src: url(../fonts/SuperLegendBoy-4w8Y.ttf);
    }
    :root {
        --width-do-planeta: 3%;
    }
    body {
        height: 100vh;
        width: 97vw;
        background-color: black;
    }
    header {
        margin: -10px;
        background-color: black;
        width: 100%;
        height: fit-content;

    }
    main {
        background-image: url(../imagens/universo\ limpo.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-top: -60px;
        margin-left: -10px;
        padding: 0px;
        height: 80%;
        position: relative;
        top: 8%;
    }
    h1 {
        font-family: Lboy;
        text-align: center;
        color: rgb(141, 202, 255);
    }    
    p {
        font-family: Lboy;
        text-align: center;
        color: rgb(141, 202, 255);
    }
    .planeta {
        width: var(--width-do-planeta);
        height: auto;
        position: absolute;
        margin: 0px;
        padding: 0px;
        opacity: 82%;
    }
    .planeta:hover {
        width: calc(var(--width-do-planeta) + 1%);
    }
    #terra{
        left: 18%;
        top: 22%;
    }
    #vermelho {
        left: 10%;
        top: 80%;
        width: 2%;
    }
    #vermelho:hover {
        width: 4%;
    }
    #verde {
        width: 6%;
        left: 0%;
        top: 80%;
    }
    #verde:hover {
        width: 7%;
        transform: translate(-5%, -19%);
    }
    #escuro {
        left: 7%;
        top: 65%;
    }
    #p2 { /*areia*/
        left: 83%;
        top: 21%;
    }
    #p3 { /*escuro 2*/
        left: 80%;
        top: 37%;
    }
    #p4 { /*magnetico*/
        left: 73%;
        top: 75%;
    }
    #p4:hover {
        width: 7%;
        transform: translate(-15%, -15%);
    }
    #p5 { /*rosa*/
        left: 20%;
        top: 82%;
    }
    #p6 { /*congelado*/
        left: 66%;
        top: 29%;
    }
    #p7 { /*limo*/
        left: 70%;
        top: 6%;
        width: 9%;
    }
    #p7:hover {
        width: 10%;
    }
    footer {
        position: absolute;
        top: 105%;
    }
    #info {
        position: relative;
        width: 95vw;
        top: 50%;
    }
    