@charset "UTF-8";
@import url(../stylerest.css);
body, html {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(61, 61, 175));
    background-size: 100% 150%;
}
iframe { 
   width: 100%;
   height: 100%;
   overflow: scroll;
}
.container-fluid {
    background-color: rgb(100, 100, 175);
    padding: 0;
}
li:hover {
    background-color: rgb(61, 61, 175);
}
.dropdown-menu {
    background-color: rgb(61, 61, 175);
}
.dropdown-menu > li > a:hover {
    background-color: rgb(100, 100, 175);
}
h1 {
    font-size: 30px;
}
@media (min-width: 768px) {
    #nav-pc { 
        background-color: rgb(120, 120, 175);
    }
    h1 {
        font-size: 40px;
    }
}