@charset "UTF-8";
@media screen and (min-width: 768px) {
    article {
        height: 250px;
        margin: 8px;
        border-radius: 10%;
        box-shadow: 1px 1px 1px black;
    }
    .wrapper {
        text-align: center;
        width: 99%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    footer {
        border-radius: 0;
    }
}
