@charset "UTF-8";
body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(rgba(255, 0, 89, 0.335), black);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}   
nav {
    display: none;
}
header {
    text-align: center;
}
div {
    background-color: rgba(143, 124, 130, 0.625);
}
a {
    text-decoration: none;
}
menu {
    display: none;
    padding: 0;
    margin: 0;
}
menu li {
    list-style: none;
    background-color: rgba(143, 124, 134, 0.625);
}
menu ul {
    padding-left: 0;
}
menu li:hover {
    background-color: rgba(170, 202, 202, 0.625);
}
article {
    height: 250px;
    margin: 5px;
    border-radius: 10%;
    background-color: rgba(40, 101, 101, 0.335);
    box-shadow: 1px 1px 1px black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-weight: bolder;
    opacity: 75%;
}
article:hover {
    opacity: 100%;
}
#humano {
    background-image: url(../imagens/humano.png);
    color: white;
}
#tritão {
    background-image: url(../imagens/tritão.png);
    color: rgb(135, 135, 255);
}
#elfo {
    background-image: url(../imagens/elfo.png);
    color: darkslategray;
}
#orc {
    background-image: url(../imagens/orc.png);
    color: rgb(190, 255, 233);
}
#morcego {
    background-image: url(../imagens/morcego.png);
    color: rgb(247, 181, 66);
}
#harpia {
    background-image: url(../imagens/harpia.png);
    color: rgb(0, 0, 0);
}
#engravatado {
    background-image: url(../imagens/Engravatado.png);
    color: darkmagenta;
}
#inseto {
    background-image: url(../imagens/inseto.png);
    color: darkslateblue;
}
#ex {
    background-image: url(../imagens/ex-receptaculo.png);
    color: rgb(208, 255, 255);
}
.wrapper {
    text-align: center;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
i {
    cursor: pointer;
}
footer {
    width: 100%;
    background-color: rgba(255, 0, 64, 0.192);
    box-shadow: 1px 1px 1px black;
    padding-top: 0;
    padding-left: 20;
    height: 130;
    color: rgb(121, 123, 123);
}
footer h2 {
    padding-top: 8;
}
a {
    color: rgb(136, 51, 11);
}
a:hover {
    color: rgb(248, 52, 82);
}